.container
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: cornsilk;
}

.bg
{
    /* position:absolute; */
    width: 75vw;
    height: 45vh;
    /* margin-left: 0 ;
    margin-right: 0 ;
    margin-top: 0%; */
   
    /* margin-left: 10vw; */
    /* float: left;
    clear: left; */
}

.img_parent
{
  margin-top: 2vw;
  margin-bottom: 2vw;
    
  display: flex;
  align-items: center;
    justify-content: center;
    
   
}
.map_parent
{
  margin-top: 2vw;
  margin-bottom: 2vw;
    
  display: flex;
  align-items: center;
    justify-content: center;
}

.map
{
width: 75vw;
height: 45vh;
}
.button_container
{
  display: flex;
align-items: center;
  justify-content: center;
  margin-top: 2vw;
}


.button_roba
{
  background-color: #474ada;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
}
.facebook_icon
{
  max-width: 6.25vw;
  max-height: 6.25vh;
  margin-left: 3vw;
  margin-top: 2vh;
}
.female
{
  max-width: 6.25vw;
  max-height: 6.25vh;
  margin-right: 3vw;
  margin-top: 2vh;
}
.italy
{
  max-width: 6.25vw;
  max-height: 6.25vh;
  margin-right: 3vw;
  margin-top: 2vh;
}
.header_container
{
  display: inline;
}
.italijanka
{
  position: absolute;
  border-style: solid;
  height: 12vh;
  width: 100%;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
padding: 0px;
/* text-align: center;
vertical-align: middle; */
display: flex;
align-items: center;
z-index: 1;
/* justify-content: center; */
justify-content: right;
}
.ikone
{
  position: absolute;
  border-style: solid;
  height: 12vh;
  width: 100%;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
padding: 0px;
/* text-align: center;
vertical-align: middle; */
display: flex;
align-items: center;
z-index: 2;
/* justify-content: center; */
justify-content: left;
font-size: 250%;
font-style: italic;

}
.header
{
  /* position: absolute; */
   /* position: fixed; */
    border-style: solid;
    height: 12vh;
    width: 100%;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    background-color: pink;
  padding: 0px;
  /* text-align: center;
  vertical-align: middle; */
display: flex;
align-items: center;

  /* justify-content: center; */
  justify-content: space-around;
  font-size: 250%;
  font-style: italic;
  /* float: left;
  clear: left; */
/* line-height: 250%;       */

}
.naziv
{
  
    text-decoration: none;
    color:black;
    z-index: 3;
}
.footer
{
    margin-top: auto;
    margin-bottom: 0;
    bottom: 0;
    align-self: flex-end;
    background-color: pink;
    /* flex-basis: auto;
    flex-shrink: 0;
    border-style: solid; */
    bottom: 0;
    height: 12vh;
    width: 100%;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  padding: 0px;
  text-align: center;
vertical-align: middle;

display: flex;
flex-direction: column;
align-items: center;
  justify-content: center;
flex-shrink: 0;
  font-size: 100%;
  font-style: normal;
  
 
  /* float: left;
  clear: left; */
}
.filler
{
  flex: 1 0 auto;
}
.news
{
  color: red;
  margin-left: 10vw;
  margin-top: 2vw;
  /* display: flex;
align-items: center;
  justify-content: center; */
}