.container
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: cornsilk;
}
.bg
{
    /* position:absolute; */
    width: 75vw;
    height: 45vh;
    /* margin-left: 0 ;
    margin-right: 0 ;
    margin-top: 0%; */
   
    /* margin-left: 10vw; */
    /* float: left;
    clear: left; */
}

.img_parent
{
  margin-top: 2vw;
  margin-bottom: 2vw;
    
  display: flex;
  align-items: center;
    justify-content: center;
    
   
}
.map_parent
{
  margin-top: 2vw;
  margin-bottom: 2vw;
    
  display: flex;
  align-items: center;
    justify-content: center;
}

.map
{
width: 75vw;
height: 45vh;
}
.button_container
{
  display: flex;
align-items: center;
  justify-content: center;
  margin-top: 2vw;
}


.button_roba
{
  background-color: #474ada;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
}
.facebook_icon
{
  max-width: 6.25vw;
  max-height: 6.25vh;
  margin-left: 3vw;
  margin-top: 2vh;
}
.female
{
  max-width: 6.25vw;
  max-height: 6.25vh;
  margin-right: 3vw;
  margin-top: 2vh;
}
.italy
{
  max-width: 6.25vw;
  max-height: 6.25vh;
  margin-right: 3vw;
  margin-top: 2vh;
}
.header_container
{
  display: inline;
}
.italijanka
{
  position: absolute;
  border-style: solid;
  height: 12vh;
  width: 100%;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
padding: 0px;
/* text-align: center;
vertical-align: middle; */
display: flex;
align-items: center;
z-index: 1;
/* justify-content: center; */
justify-content: right;
}
.ikone
{
  position: absolute;
  border-style: solid;
  height: 12vh;
  width: 100%;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
padding: 0px;
/* text-align: center;
vertical-align: middle; */
display: flex;
align-items: center;
z-index: 2;
/* justify-content: center; */
justify-content: left;
font-size: 250%;
font-style: italic;

}
.header
{
  /* position: absolute; */
   /* position: fixed; */
    border-style: solid;
    height: 12vh;
    width: 100%;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    background-color: pink;
  padding: 0px;
  /* text-align: center;
  vertical-align: middle; */
display: flex;
align-items: center;

  /* justify-content: center; */
  justify-content: space-around;
  font-size: 250%;
  font-style: italic;
  
  /* float: left;
  clear: left; */
/* line-height: 250%;       */

}
.naziv
{
    text-decoration: none;
    color:black;
    z-index: 3;
}
.footer
{
    margin-top: auto;
    margin-bottom: 0;
    bottom: 0;
    align-self: flex-end;
    background-color: pink;
    /* flex-basis: auto;
    flex-shrink: 0;
    border-style: solid; */
    bottom: 0;
    height: 12vh;
    width: 100%;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  padding: 0px;
  text-align: center;
vertical-align: middle;

display: flex;
flex-direction: column;
align-items: center;
  justify-content: center;
flex-shrink: 0;
  font-size: 100%;
  font-style: normal;
  
 
  /* float: left;
  clear: left; */
}


.roba_container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.oglas
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  border-style: ridge;
  cursor: pointer;
  /* background-color: blueviolet; */
}
.oglas_opis_container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.oglas_slika
{
  max-width: 20vw;
  max-height: 20vh;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}
.oglas_deo
{
  margin-top: auto;
  margin-bottom: auto;
  max-width: 20vw;
}

.precrtano
{
  text-decoration: line-through;
}

.last_deo
{
  margin-bottom: 1.5vh;
}

.pregled_container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.galerija
{
    max-width: 50vw;
    max-height: 70vh;
}

.specifikacije
{
    display: flex;
    flex-direction: column;
}
.textarea_0{
    resize: none;
    width: 20vw;
    height: 20vh;
    background-color: transparent;
    border-style: none;
    color: black;
    text-shadow: none;
    
}
.textarea_1{
    /* resize: none; */
    width: 20vw;
    height: 20vh;
    background-color: transparent;
    border-style: none;
    color: black;
    text-shadow: none;
    margin-top: 0;
    
}
.red
{
border-style: ridge;
}
.btn_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.img_container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.table_0
{
  border-collapse: collapse;
  border-style: ridge;
}
.tr_0{
border-bottom: 1pt solid black;
}